
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0;
    padding: 20px; 
    background-color: #f4f4f4; 
}

.Tabla_de_negros{
    max-width: 800px; 
    margin: auto; 
    background: rgb(248, 243, 243); 
    padding: 20px; 
    border-radius: 5px; 
    color: #000000;
    
}
.Tabla_de_rojos{
    max-width: 800px; 
    margin: auto; 
    background: rgb(243, 242, 242); 
    padding: 20px; 
    border-radius: 5px; 
    color: rgb(20, 20, 20);
   
}

.th1{
    background-color: #e71515; 
}
h1, h2 {
    color: #000000; 
    text-align: center; 
}



table {
    width: 100%; 
    border-collapse: collapse;
    margin-bottom: 20px; 
}

th, td{
    padding: 10px; 
    border: 1px solid #ddd;
    text-align: left; 
}

th {
    background-color: #000000; 
    color:azure;
}



input[type="number"] {
    width: 60px;
    padding: 5px; 
}


button {
    padding: 5px 10px; 
    background-color: #4CAF50; 
    color: white;
    border: none; 
    cursor: pointer; 
}


button:hover {
    background-color: #45a049; 
}


.results {
    background-color: #e9f7ef; 
    padding: 15px;
    border-radius: 5px; 
    margin-top: 20px; 
    text-align: center; 
}


