body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #474747;
    color: #000000;
    text-align: center;
    padding: 1rem;
}
nav {
    background-color: hwb(0 45% 55%);
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 40px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.main-content {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
footer {
    background-color: #464242;
    color: #fff9f9;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}